{% extends "templates/base.twig" %}

{% block topbar %}

	{% block iconbar %}
		{% include "templates/icon.twig" %}
	{% endblock %}

	{% block navbar %}
		{% include "templates/adminNavbar.twig" %}
	{% endblock %}


{% endblock %}


{% block body %}


	<div class="home">
		<h1>Welcome to Admin Portal</h1>
	</div>

{% endblock %}
