<div class="navbar">
    <ul class="menu">
        <li class="items"><a href='/admin'>Home</a></li>
        <li class="items"><a href='/viewUser'>View Users</a></li>
        <li class="items"><a href='/addBook'>Add Books</a></li>
        <li class="items"><a href='/viewBook '>View Books</a></li>
        <li class="items"><a href="/issueBook">Issue Books</a></li>
        <li class="items"><a href="/userLog">User Log</a></li>
        <li class="items"><a href='/logout'>Logout</a></li>
    </ul>
</div>