<div class="navbar">
	<ul class="menu">
		<li class="items">
			<a href='/'>HOME</a>
		</li>
		<li class="items">
			<a href='/loginUser'>LOGIN AS USER</a>
		</li>
		<li class="items">
			<a href='/loginAdmin'>LOGIN AS ADMIN</a>
		</li>
		<li class="items">
			<a href="/register">REGISTER</a>
		</li>
	</ul>
</div>
