{% extends "templates/base.twig" %}
{% block topbar %}

	{% block iconbar %}
		{% include "templates/icon.twig" %}
	{% endblock %}

	{% block navbar %}
		{% include "templates/homeNavbar.twig" %}
	{% endblock %}


{% endblock %}
{% block body %}

	<div class="home">
		<h1>Welcome to <br> Library@SDSLabs</h1>
	</div>


{% endblock %}
