<div class="form">
    <label> Enter email <br>
        <input name="email" type="text" placeholder="Enter email" required>
    </label><br><br>
    <label> Enter password <br>
        <input name="pwd" type="password" placeholder="Enter password" required>
    </label><br><br>
    <button type="submit" class="submitbtn">Submit</button>
</div><br>
<div class="bottom">
    <button type="button" class="cancelbtn" onclick="redirect()">Cancel</button>
    
</div>

<script>
    function redirect()
    {
        window.location.href="/";
    }
</script>